home-cell {
  .user-cell {
    background: #FFF;
    text-align: center;
    font-size: 1.2em;
    .cell-ion {
      background: #f0f0f0;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
      margin: 0 auto;
      ion-icon {
        color: #FFF;
        font-size: 2.2em;
        line-height: 1.6em;
      }
    }
  }
}
