<ion-grid class="user-cell">
  <ion-row>
    <ion-col>
      <div class="cell-ion">
        <ion-icon name="medal"></ion-icon>
      </div>
      <span>click!</span>
    </ion-col>
    <ion-col>
      <div class="cell-ion">
        <ion-icon name="microphone"></ion-icon>
      </div>
      <span>click!</span>
    </ion-col>
    <ion-col>
      <div class="cell-ion">
        <ion-icon name="megaphone"></ion-icon>
      </div>
      <span>click!</span>
    </ion-col>
    <ion-col>
      <div class="cell-ion">
        <ion-icon name="menu"></ion-icon>
      </div>
      <span>click!</span>
    </ion-col>
    <ion-col>
      <div class="cell-ion">
        <ion-icon name="heart"></ion-icon>
      </div>
      <span>click!</span>
    </ion-col>
  </ion-row>
</ion-grid>
