carts {
  .carts {
    min-height: 35rem;
    background: #f0f0f0;
    .no-carts {
      text-align: center;
      ion-icon {
        margin-top: 33%;
        font-size: 5em;
      }
    }
  }
  .line {
    text-align: center;
    margin: 10px 0;
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 4em;
        height: 1px;
        background-color: #979797;
        left: -4.5em;
        top: 0.3em;
      }
      &::after {
        content: '';
        position: absolute;
        width: 4em;
        height: 1px;
        background-color: #979797;
        right: -4.5em;
        top: 0.3em;
      }
    }
  }
}
