product-item {
  .product {
    img {
      width: 100%;
    }
    h6 {
      height: 3.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h6,
    p {
      margin: 0;
    }
  }
  .product-info {
    padding-bottom: 5px;
  }
}
