<div class="product">
  <img src="assets/img/thumbnail-kitten-1.jpg" />
  <div class="product-info">
    <h6>this is cat, please buy methis is cat, please buy methis is cat, please buy me</h6>
    <p color="danger">$100.00</p>
    <!--<ion-row no-padding>
      <ion-col no-padding>
        <button small clear ion-button icon-only>
          <ion-icon color="dark" name="ios-cart"></ion-icon>
        </button>
      </ion-col>
      <ion-col no-padding text-right>
        <button small clear ion-button icon-left>
          <ion-icon color="primary" name="home"></ion-icon>
          Buy
        </button>
      </ion-col>
    </ion-row>-->
  </div>
</div>
