<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button value="goodsPics">
        图片
      </ion-segment-button>
      <ion-segment-button value="msg">
        详情
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="page">
    <div *ngSwitchCase="'goodsPics'">
      <img src="assets/img/banner.jpg" alt="">
      <div padding>
        <h5>this is Title</h5>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <span class="price" color="danger">$199.00</span>
            </ion-col>
            <ion-col no-padding text-right>99人购买</ion-col>
          </ion-row>
        </ion-grid>
        <p>这里是描述文本</p>
      </div>
    </div>
    <ion-list *ngSwitchCase="'msg'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="star"></ion-icon>
    </button>
    <ion-title>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
        加入购物车
      </button>
      <button ion-button icon-only class="buy" color="danger">
        <!--<ion-icon name="options"></ion-icon>-->
        立即购买
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
